@import '../../../scss/variable';

.category-wrapper {
    margin: 10px auto 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;

    @include mobile {
        margin: 30px auto 30px;
    }

    .category {
        // max-width: 768px;
        max-width: 980px;
        width: 100%;
        padding: 0 20px;

        .category-body-header {

            padding-bottom: 30px;

            .category-body-header-left {
                .category-body-header-name {
                    font-family: 'Pacifico-Regular', cursive;
                    font-size: 50px;
                    line-height: 50px;
                    font-weight: 500;

                    @include tablet {
                        font-size: 32px;
                        line-height: 32px;
                    }

                    @include sm-tablet {
                        font-size: 32px;
                        line-height: 32px;
                    }

                    // color: $primary-color;
                    @include mobile {
                        font-size: 28px;
                        line-height: 28px;
                    }
                }
            }

            .category-body-header-right {}
        }

        .category-body {
            box-shadow: 0 10px 15px -3px rgba(222, 36, 84, .07), 0 4px 6px -2px rgba(222, 36, 84, .025);
            border: 1px solid #e2e8f0;
            padding: 24px 36px 24px 36px;
            border-radius: 5px;

            @include mobile {
                padding: 12px 18px 12px 18px;
            }


            .category-body-mid {}

            .category-body-bottom {}
        }
    }
}