.form-input {
    position: relative;

    .form-control {
        width: 100%;
    }

    .form-control:focus {
        border: 2px solid #de2454;
    }
}

.hide-show {
    position: absolute;
    top: 38px;
    right: 6px;
    cursor: pointer;

    i {
        font-size: 24px;
    }
}

.hide-show:hover {
    i {
        color: #de2454;
    }
}

.error-message {
    color: #de2454;
    font-size: 14px;
    text-align: start;
}