@import '../../scss/variable';

.book-item-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 6px 12px rgb(0 0 0 / 30%);
    margin-bottom: 28px;
    margin-top: 28px;
    // height: 320px;
    border-radius: 5px;

    @include tablet {
        margin-top: 16px;
    }

    @include sm-tablet {
        height: 220px;
        margin-bottom: 12px;
        margin-top: 12px;
    }

    @include mobile {
        height: 180px;
        margin-bottom: 12px;
        margin-top: 12px;
    }

    img {
        height: 300px;
        min-width: 150px;
        width: 100%;
        background-color: #fff4;
        border-radius: 5px;
        transition: transform 200ms ease-in, box-shadow 200ms ease-in;

        @include sm-tablet {
            height: 220px;
            min-width: 100px;
        }

        @include mobile {
            height: 180px;
            min-width: 100px;

        }
    }

    img:hover {
        box-shadow: 0px 11px 18px rgb(0 0 0 / 30%);
        transform: scale(1.025);
    }

    img::after {
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.0666667) 4%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 90%, rgba(0, 0, 0, 0.0666667) 96%, rgba(0, 0, 0, 0.2) 100%);
        content: '';
        border-radius: 3px;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 20;
    }
}

// .book-item-1:hover {
//     box-shadow: 0px 11px 18px rgb(0 0 0 / 30%);
//     transform: scale(1.025);
// }

// .book-item-1::after {
//     background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.0666667) 4%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 90%, rgba(0, 0, 0, 0.0666667) 96%, rgba(0, 0, 0, 0.2) 100%);
//     content: '';
//     border-radius: 3px;
//     left: 0;
//     top: 0;
//     bottom: 0;
//     right: 0;
//     position: absolute;
//     z-index: 20;
// }