@import '../../../scss/variable';


.user-cart {
    max-width: 1024px;
    margin: 30px auto;

    .user-cart-top {
        .user-cart-top-title {
            font-size: 36px;
        }
    }

    .user-cart-mid {
        .user-cart-table {
            .emty-cart {
                color: $primary-color;
                font-weight: 700;
            }

            table {
                width: 100%;
                border-collapse: collapse;
                margin: 20px 0;

                thead {
                    th {
                        padding: 16px 0;
                    }

                    .user-cart-head-book {
                        text-align: left;

                    }

                    .user-cart-head-quantity {
                        padding: 10px 8px;
                        width: 80px;
                        text-align: center;

                    }

                    .user-cart-head-price {
                        padding: 10px 8px;
                        width: 80px;
                        text-align: center;
                    }

                    .user-cart-head-total {
                        padding: 10px 8px;
                        width: 100px;
                        text-align: center;
                    }

                    .user-cart-head-remove {
                        width: 50px;
                        text-align: center;
                        padding: 10px 8px;

                    }
                }

                tbody {
                    tr {
                        border-top: 1px solid #ccc;

                        td {
                            padding: 16px 0;

                        }

                        .user-cart-body-book {
                            // padding: 10px 8px;

                        }

                        .user-cart-body-quantity {
                            padding: 10px 8px;
                            vertical-align: top;

                            .user-cart-body-quantity-wrapper {
                                display: flex;
                                justify-content: center;
                                border: 2px solid #ccc;
                                border-radius: 4px;

                                .user-cart-body-quantity-content {
                                    border: 0;
                                    width: 40px;
                                    font-size: 20px;
                                    text-align: center;
                                    outline: none;
                                }

                                input[type=number]::-webkit-inner-spin-button,
                                input[type=number]::-webkit-outer-spin-button {
                                    -webkit-appearance: none;
                                    margin: 0;
                                }

                                input[type=number] {
                                    -moz-appearance: textfield;
                                }

                                .user-cart-body-quantity-button-wrapper {
                                    // border-left: 2px solid #ccc;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;

                                    .user-cart-body-quantity-up-button {
                                        border-bottom: 1px solid #ccc;
                                        border-left: 2px solid #ccc;

                                    }

                                    .user-cart-body-quantity-down-button {
                                        border-top: 1px solid #ccc;
                                        border-left: 2px solid #ccc;

                                    }

                                    .user-cart-body-quantity-button {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        padding: 1px 2px;
                                        cursor: pointer;

                                        i {
                                            color: $primary-color;
                                            margin: 0;
                                        }
                                    }

                                    .user-cart-body-quantity-button:active {
                                        background-color: #ccc;
                                    }

                                }
                            }
                        }

                        .user-cart-body-price {
                            vertical-align: top;
                            padding: 10px 8px;

                            .user-cart-body-price-wrapper {
                                display: flex;
                                justify-content: center;

                                .user-cart-body-price-content {
                                    font-weight: 600;

                                    .user-cart-body-price-default {
                                        text-decoration: line-through;
                                    }

                                    .user-cart-body-price-sale {
                                        color: $primary-color;
                                    }
                                }
                            }
                        }

                        .user-cart-body-total {
                            vertical-align: top;
                            padding: 10px 8px;

                            .user-cart-body-total-wrapper {
                                display: flex;
                                justify-content: center;

                                .user-cart-body-total-content {
                                    font-weight: 600;

                                    .user-cart-body-total-sale {
                                        color: $primary-color;
                                    }
                                }
                            }
                        }

                        .user-cart-body-remove {
                            vertical-align: top;
                            margin: 0 auto;
                            padding: 10px 8px;

                            .user-cart-body-remove-wrapper {
                                display: flex;
                                justify-content: center;

                                .user-cart-body-remove-content {
                                    padding: 0 12px;
                                    cursor: pointer;

                                    i {
                                        font-size: 24px;
                                        transition: all 200ms ease-in;
                                    }
                                }

                                .user-cart-body-remove-content:hover i {
                                    // font-size: 26px;
                                    color: $primary-color;
                                }
                            }
                        }
                    }

                }


            }
        }
    }

    .user-cart-bottom {
        display: flex;
        justify-content: flex-end;
        position: sticky;
        bottom: 20px;
        z-index: 20;

        .button {
            color: rgb(239, 238, 238);
            font-size: 18px;
            font-weight: 600;
            border-radius: 5px;
            width: 290px;

        }
    }
}