@import '../../../scss/variable';

.coming-soon {
    // background-image: url('../../../assets/images/coming-soon.webp');
    // background-size: cover;
    // background-position: center center;
    // background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;

    // @include mobile {
    //     padding: 20px;
    // }

    .coming-soon-background {
        width: 100%;
        height: 100%;
        background-image: url('../../../assets/images/coming-soon.webp');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        // @include mobile {
        //     margin: 70px 0 70px 20px;
        // }
    }

    .coming-soon-wrapper {
        display: flex;
        flex-direction: column;
        padding-bottom: 60px;
        justify-content: center;
        align-items: center;

        .coming-soon-text {
            font-size: 32px;
            color: #fff;
            padding-bottom: 20px;
        }

        .coming-soon-button-group {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 12px;

            .button {
                font-size: 24;
                font-weight: 600;
            }
        }


    }
}