@import '../../scss/variable';

.separator-column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1px;

    @include sm-tablet {
        display: none;
    }

    @include mobile {
        display: none;
    }

    div {
        display: block;
        height: 60%;
        width: 1px;
        background-color: rgba(150, 150, 150, .6);
    }
}