.google-login-button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // iframe {
    //     width: 100% !important;
    //     margin: 0 !important;

    //     html {
    //         body {
    //             display: flex;
    //             flex-direction: column;
    //             justify-content: center;
    //             align-items: center;

    //             div {
    //                 width: 100% !important;

    //                 div {
    //                     width: 100% !important;
    //                 }
    //             }
    //         }
    //     }

    // }
}