@import '../../../scss/variable';


.author-search-wrapper {
    .author-search-no-match {
        margin-top: 30px;
    }

    .author-search {

        display: grid;
        column-gap: 12px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-flow: row;

        @include mobile {
            grid-template-columns: 1fr;
        }

        .author-search-item {
            grid-template-columns: minmax(0, 1fr);
            grid-template-rows: auto auto auto 1fr auto auto;
            width: fit-content;
        }
    }
}