@import '../../../scss/variable';

.profile-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    @include sm-tablet {
        padding: 0 40px;
    }

    @include mobile {
        padding: 0 20px;
    }

    .profile {
        // margin-left: 40px;
        max-width: 1024px;
        margin-bottom: 40px;

        @include sm-tablet {
            max-width: 100%;
        }

        @include mobile {
            max-width: 100%;
        }

        .profile-item {
            margin-top: 20px;
        }

        .profile-input {
            display: flex;
            flex-direction: column;

            .form-control {
                // width: 100%;
            }

            .form-control:focus {
                border: 2px solid $primary-color;
            }

            .form-control:hover {
                border: 2px solid $primary-color;
            }
        }

        .profile-username {
            width: 400px;

            @include sm-tablet {
                width: 100%;
            }

            @include mobile {
                width: 100%;
            }

            input {
                color: rgb(168, 162, 162);
            }
        }

        .profile-email {
            width: 400px;

            @include sm-tablet {
                width: 100%;
            }

            @include mobile {
                width: 100%;
            }
        }

        .profile-avatar {
            display: flex;
            flex-direction: row;
            gap: 20px;

            @include sm-tablet {
                flex-direction: column;
            }

            @include mobile {
                flex-direction: column;
            }

            .profile-avatar-wrapper {

                .profile-avatar-image {
                    width: 100px;
                    height: 100px;
                    display: flex;
                    background-size: cover;
                    border: 4px solid $primary-color;
                    border-radius: 1000px;

                }
            }
        }

        .profile-phone {
            input {
                width: 240px;

                @include sm-tablet {
                    width: 100%;
                }

                @include mobile {
                    width: 100%;
                }
            }
        }

        .profile-gender {
            .radio-input {
                input[type="radio"] {
                    position: absolute;
                    opacity: 0;

                    +.radio-label {
                        &:after {
                            content: '';
                            // background: $primary-color;
                            // border-radius: 100%;
                            // border: 1px solid darken($primary-color, 25%);
                            // display: inline-block;
                            // width: 1.4em;
                            // height: 1.4em;
                            position: relative;
                            top: -0.2em;
                            margin-right: 1em;
                            vertical-align: top;
                            cursor: pointer;
                            text-align: center;
                            transition: all 250ms ease;
                        }
                    }

                    &:checked {
                        +.radio-label {
                            &:before {
                                background-color: $primary-color;
                                box-shadow: inset 0 0 0 4px #fff;
                            }
                        }
                    }

                    &:focus {
                        +.radio-label {
                            &:before {
                                outline: none;
                                border-color: $primary-color;
                            }
                        }
                    }
                }
            }
        }

        .profile-birthday {
            .react-datepicker-wrapper {
                .react-datepicker__input-container {
                    input {
                        border: 1px solid #b3b3b3;
                        border-radius: 3px;
                        padding: 6px 12px;
                        width: 240px;

                        @include sm-tablet {
                            width: 100%;
                        }

                        @include mobile {
                            width: 100%;
                        }
                    }

                    input:hover {
                        border: 2px solid $primary-color;

                    }

                    input:focus {
                        border: 2px solid $primary-color;

                    }
                }
            }

            .react-datepicker-popper {
                div[aria-selected="true"] {
                    background-color: $primary-color;
                }
            }

            .react-datepicker__day--keyboard-selected {
                background-color: $primary-color;

            }

        }

        .profile-address {
            input {
                width: 400px;
            }
        }

        .profile-button-wrapper {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            margin-top: 40px;

            .profile-button {
                .button {
                    border-radius: 4px;
                    font-weight: 600;
                }
            }
        }
    }


}