$primary-color: #de2454;
$primary-hover-color: #cd4a6a;

$light-primary-text-color: #161616;
$light-sub-text-color: rgba(113, 128, 150, .75);

$background-color-hover: rgba(237, 242, 247, 1);
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$icon-color: #969696;
$mobile-width: 600px;
$tablet-width: 1024px;

$primary-font-family: NotoSans-Regular;



$mobile-width: 480px;
$tablet-width: 768px;
$sm-desktop-width: 960px;
$desktop-width: 1024px;
$lg-desktop-width: 1300px;

@mixin mobile {
    @media (max-width: #{$mobile-width - 1px}) {
        @content;
    }
}

@mixin sm-tablet {
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width }) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$sm-desktop-width }) {
        @content;
    }
}

@mixin sm-desktop {
    @media (min-width: #{$sm-desktop-width}) and (max-width: #{$desktop-width }) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) and (max-width: #{$lg-desktop-width }) {
        @content;
    }
}

@mixin lg-desktop {
    @media (min-width: #{$lg-desktop-width}) {
        @content;
    }
}