$primary-color: #de2454;
$primary-hover-color: #cd4a6a;

$light-primary-text-color: #161616;
$light-sub-text-color: rgba(113, 128, 150, .75);

$background-color-hover: rgba(237, 242, 247, 1);
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$icon-color: #969696;
$mobile-width: 600px;
$tablet-width: 1024px;

$primary-font-family: NotoSans-Regular