@import '../../scss/variable';

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .active {
        color: $primary-color;
    }

    .nav-item {
        text-transform: uppercase;
        font-size: 14px;
    }

    .nav-item:hover {

        color: $primary-color;
    }
}